# Практика 1 (Обучение по правилам Хебба)

In [1]:
import pandas as pd

In [3]:
data = {"X1": [1, 1, -1,-1],
        "X2": [1, -1, 1,-1],
        "Y": [1, -1, -1, -1]}

df = pd.DataFrame(data)
df

   X1  X2  Y
0   1   1  1
1   1  -1 -1
2  -1   1 -1
3  -1  -1 -1

In [4]:
w11 = 0
w21 = 0
T = 0

In [5]:
def Hebb(x1, x2, w11, w21, T, y):
    w11 = w11 + x1*y
    w21 = w21 + x2*y
    T = T - y
    return w11, w21, T

In [7]:
for i in range(df.shape[0]):
    X12 = df.iloc[i, :].to_list()
    print(X12)
    w11, w21, T = Hebb(X12[0], X12[1], w11, w21, T, df['Y'][i])

[1, 1, 1]
[1, -1, -1]
[-1, 1, -1]
[-1, -1, -1]

In [8]:
def predict(x1, x2, w11, w21):
    return (x1*w11 + x2*w21 - T) > 0

In [14]:
print(predict(1, -1, w11, w21))

False

In [12]:
print(w11, w21, T)

2 2 2

In [16]:
for i in range(df.shape[0]):
    X12 = df.iloc[i, :].to_list()
    print(f'{X12[0]} {X12[1]}: {predict(X12[0], X12[1], w11, w21)}')

1 1: True
1 -1: False
-1 1: False
-1 -1: False